<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name = "SQLCONN"
        connectionString = "server =.;database = DBTHREEPRODUCTION;uid = sa;pwd = 08875799"
        />
    </connectionStrings>
</configuration>